In [70]:
# Import SQL package and database

import sqlite3
from sqlite3 import Error

# Define connection function for SQLite3 with error handling
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    return conn

# Define query execution and printing
def execute_query(query,conn):
    with conn:
        cur = conn.cursor()
        cur.execute(query)
        rows = cur.fetchall()
        for i in rows:
            print(i)

In [71]:
# Connect to the database
database = "sqlite_db_pythonsqlite.db"
conn = create_connection(database)

In [72]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue.
# Remember that there's a different cost for guests and members!

query10 =   """
            SELECT *
            FROM (
                SELECT revenue_table.name as facility_name,
                    SUM(booking_revenue) as facility_revenue
                FROM (  SELECT    b.facid,
                                CASE WHEN memid = 0 THEN slots*guestcost
                                ELSE slots*membercost END AS booking_revenue,
                                f.name
                        FROM Bookings as b
                        LEFT JOIN Facilities as f
                            ON b.facid = f.facid ) as revenue_table
                GROUP BY facid) as summary_table
            WHERE facility_revenue < 1000
            ORDER BY facility_revenue
            """

execute_query(query10,conn)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [73]:
# Q11: Produce a report of members and who recommended them in
# alphabetic surname, firstname order

query11 =   """
            SELECT DISTINCT A.surname || ' ' || A.firstname as member_name,
                   B.surname || ' ' || B.firstname as recommendedby_name
            FROM Members as A
            LEFT JOIN Members as B
            ON A.recommendedby = B.memid
            ORDER BY member_name
            """

execute_query(query11,conn)

('Bader Florence', 'Stibbons Ponder')
('Baker Anne', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Farrell David', None)
('Farrell Jemima', None)
('GUEST GUEST', None)
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones David', 'Joplette Janice')
('Jones Douglas', 'Jones David')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rownam Tim', None)
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Darren', None)
('Smith Jack', 'Smith Darren')
('Smith Tracy', None)
('Stibbons Ponder', 'Tracy Burton')
('Tracy Burton', None)
('Tupperware Hyacinth', None)
('Worthington-Smyth Henry', 'Smith Tracy')

In [90]:
# Q12: Find the facilities with their usage by member, but not guests
# Usage measured as number of slots booked by members only, excluding guests

query12 =   """
            SELECT  facid,
                    COUNT(slots) as facilities_usage
            FROM Bookings
            WHERE memid != 0
            GROUP BY facid
            """

execute_query(query12,conn)

(0, 308)
(1, 276)
(2, 344)
(3, 385)
(4, 421)
(5, 27)
(6, 195)
(7, 421)
(8, 783)

In [87]:
# Q13: Find the facilities usage by month, but not guests
# Usage measured as number of slots booked by members only, excluding guests

query13 =   """
            SELECT  strftime('%m', starttime) as month_usage,
                    COUNT(slots) as facilities_usage
            FROM Bookings
            WHERE memid != 0
            GROUP BY month_usage
            ORDER BY month_usage
            """

execute_query(query13,conn)

('07', 480)
('08', 1168)
('09', 1512)