# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 

import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
print(properties.head(10))
print(properties.shape)

  Unnamed: 0 City of London Barking & Dagenham     Barnet     Bexley  \
0        NaT      E09000001          E09000002  E09000003  E09000004
1 1995-01-01          91449            50460.2    93284.5    64958.1
2 1995-02-01        82202.8            51085.8    93190.2    64787.9
3 1995-03-01        79120.7              51269    92247.5    64367.5
4 1995-04-01        77101.2            53133.5    90762.9    64277.7
5 1995-05-01        84409.1            53042.2      90258    63997.1
6 1995-06-01        94900.5            53700.3    90107.2    64252.3
7 1995-07-01         110128            52113.1    91441.2    63722.7
8 1995-08-01         112329            52232.2    92361.3    64432.6
9 1995-09-01         104473            51471.6    93273.1    64509.5

       Brent    Bromley     Camden    Croydon     Ealing  ... NORTH WEST  \
0  E09000005  E09000006  E09000007  E09000008  E09000009  ...  E12000002
1    71306.6    81671.5     120933    69158.2    79885.9  ...    43958.5
2    72022.3    81657.6     119509    68951.1    80897.1  ...    43925.4
3    72015.8    81449.3     120282    68712.4    81379.9  ...    44434.9
4    72965.6    81124.4     120098      68610    82188.9  ...    44267.8
5      73704    81542.6     119929    68844.9    82077.1  ...    44223.6
6    74310.5    82382.8     121887    69052.5    81630.7  ...      44113
7      74127    82898.5     124028    69142.5    82352.2  ...    44109.6
8      73547    82054.4     125530    68993.4    82706.7  ...    44193.7
9    73789.5    81440.4     120597    69393.5    82011.1  ...    44088.1

  YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND     LONDON  \
0          E12000003     E12000004     E12000005       E12000006  E12000007
1            44803.4       45544.5       48527.5         56701.6    74435.8
2            44528.8       46051.6       49341.3         56593.6    72777.9
3            45200.5       45383.8       49442.2         56171.2    73896.8
4            45614.3       46124.2       49455.9         56567.9    74455.3
5              44831         45878       50369.7         56479.8      75432
6            45392.6         45680       50100.4         56288.9    75606.2
7              45535       46037.7         49860         57242.3    75984.2
8            45111.5       45922.5       49598.5         56732.4    75529.3
9            44837.9       45771.7       49319.7         56259.3    74940.8

  SOUTH EAST SOUTH WEST Unnamed: 47    England
0  E12000008  E12000009         NaN  E92000001
1    64018.9    54705.2         NaN    53202.8
2      63715    54356.1         NaN    53096.2
3    64113.6    53583.1         NaN    53201.3
4    64623.2      54786         NaN    53590.9
5    64530.4    54698.8         NaN    53678.2
6      65511    54420.2         NaN    53735.2
7    65224.9    54265.9         NaN    53900.6
8    64851.6    54365.7         NaN    53600.3
9    64352.5      54244         NaN    53309.2

[10 rows x 49 columns]
(304, 49)

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [4]:
properties = properties.transpose()
new_header = properties.iloc[0]
properties = properties[1:]
properties.columns = new_header
properties = properties.reset_index()

print(properties.head(5))
print(properties.shape)

Unnamed: 0               index        NaN 1995-01-01 00:00:00  \
0               City of London  E09000001               91449
1           Barking & Dagenham  E09000002             50460.2
2                       Barnet  E09000003             93284.5
3                       Bexley  E09000004             64958.1
4                        Brent  E09000005             71306.6

Unnamed: 0 1995-02-01 00:00:00 1995-03-01 00:00:00 1995-04-01 00:00:00  \
0                      82202.8             79120.7             77101.2
1                      51085.8               51269             53133.5
2                      93190.2             92247.5             90762.9
3                      64787.9             64367.5             64277.7
4                      72022.3             72015.8             72965.6

Unnamed: 0 1995-05-01 00:00:00 1995-06-01 00:00:00 1995-07-01 00:00:00  \
0                      84409.1             94900.5              110128
1                      53042.2             53700.3             52113.1
2                        90258             90107.2             91441.2
3                      63997.1             64252.3             63722.7
4                        73704             74310.5               74127

Unnamed: 0 1995-08-01 00:00:00  ... 2019-06-01 00:00:00 2019-07-01 00:00:00  \
0                       112329  ...              761526              756407
1                      52232.2  ...              293889              297426
2                      92361.3  ...              512694              514668
3                      64432.6  ...              339324              338346
4                        73547  ...              474821              473849

Unnamed: 0 2019-08-01 00:00:00 2019-09-01 00:00:00 2019-10-01 00:00:00  \
0                       813770              810455              826227
1                       299421              304778              304579
2                       528577              526670              525678
3                       337523              333340              332920
4                       488784              501533              494770

Unnamed: 0 2019-11-01 00:00:00 2019-12-01 00:00:00 2020-01-01 00:00:00  \
0                       776894              737275              757377
1                       306390              301283              304187
2                       522639              519306              520115
3                       333657              336302              334430
4                       432188              427126              424663

Unnamed: 0 2020-02-01 00:00:00 2020-03-01 00:00:00
0                       765416              792583
1                       304719              327136
2                       520966              532569
3                       334845              331679
4                       471574              446966

[5 rows x 305 columns]
(48, 305)

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [5]:
properties.rename(columns = {'index': 'Borough'},inplace=True)
properties = properties.loc[:, properties.columns.notnull()]

properties = properties.iloc[1:33]

print(properties.head(5))

Unnamed: 0             Borough 1995-01-01 00:00:00 1995-02-01 00:00:00  \
1           Barking & Dagenham             50460.2             51085.8
2                       Barnet             93284.5             93190.2
3                       Bexley             64958.1             64787.9
4                        Brent             71306.6             72022.3
5                      Bromley             81671.5             81657.6

Unnamed: 0 1995-03-01 00:00:00 1995-04-01 00:00:00 1995-05-01 00:00:00  \
1                        51269             53133.5             53042.2
2                      92247.5             90762.9               90258
3                      64367.5             64277.7             63997.1
4                      72015.8             72965.6               73704
5                      81449.3             81124.4             81542.6

Unnamed: 0 1995-06-01 00:00:00 1995-07-01 00:00:00 1995-08-01 00:00:00  \
1                      53700.3             52113.1             52232.2
2                      90107.2             91441.2             92361.3
3                      64252.3             63722.7             64432.6
4                      74310.5               74127               73547
5                      82382.8             82898.5             82054.4

Unnamed: 0 1995-09-01 00:00:00  ... 2019-06-01 00:00:00 2019-07-01 00:00:00  \
1                      51471.6  ...              293889              297426
2                      93273.1  ...              512694              514668
3                      64509.5  ...              339324              338346
4                      73789.5  ...              474821              473849
5                      81440.4  ...              430002              434257

Unnamed: 0 2019-08-01 00:00:00 2019-09-01 00:00:00 2019-10-01 00:00:00  \
1                       299421              304778              304579
2                       528577              526670              525678
3                       337523              333340              332920
4                       488784              501533              494770
5                       442189              441058              439178

Unnamed: 0 2019-11-01 00:00:00 2019-12-01 00:00:00 2020-01-01 00:00:00  \
1                       306390              301283              304187
2                       522639              519306              520115
3                       333657              336302              334430
4                       432188              427126              424663
5                       436080              438682              435337

Unnamed: 0 2020-02-01 00:00:00 2020-03-01 00:00:00
1                       304719              327136
2                       520966              532569
3                       334845              331679
4                       471574              446966
5                       436544              430033

[5 rows x 304 columns]

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [10]:
pd.melt(properties,id_vars=['Borough'])

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [11]:
print(properties)

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

Unnamed: 0               Borough 1995-01-01 00:00:00 1995-02-01 00:00:00  \
1             Barking & Dagenham             50460.2             51085.8
2                         Barnet             93284.5             93190.2
3                         Bexley             64958.1             64787.9
4                          Brent             71306.6             72022.3
5                        Bromley             81671.5             81657.6
6                         Camden              120933              119509
7                        Croydon             69158.2             68951.1
8                         Ealing             79885.9             80897.1
9                        Enfield             72514.7             73155.2
10                     Greenwich             62300.1             60993.3
11                       Hackney             61296.5             63187.1
12          Hammersmith & Fulham              124903              122088
13                      Haringey             76287.6             78901.2
14                        Harrow             84769.5             83396.1
15                      Havering             68000.1             69393.5
16                    Hillingdon             73834.8             75031.1
17                      Hounslow             72231.7             71051.6
18                     Islington             92516.5             94342.4
19          Kensington & Chelsea              182695              182345
20          Kingston upon Thames             80875.8             81230.1
21                       Lambeth               67771             65381.5
22                      Lewisham             60491.3             60869.3
23                        Merton             82070.6             79982.7
24                        Newham             53539.3             53153.9
25                     Redbridge             72189.6             72141.6
26          Richmond upon Thames              109326              111103
27                     Southwark             67885.2             64799.1
28                        Sutton               71537             70893.2
29                 Tower Hamlets             59865.2             62318.5
30                Waltham Forest             61319.4             60252.1
31                    Wandsworth               88559               88641
32                   Westminster              133025              131468

Unnamed: 0 1995-03-01 00:00:00 1995-04-01 00:00:00 1995-05-01 00:00:00  \
1                        51269             53133.5             53042.2
2                      92247.5             90762.9               90258
3                      64367.5             64277.7             63997.1
4                      72015.8             72965.6               73704
5                      81449.3             81124.4             81542.6
6                       120282              120098              119929
7                      68712.4               68610             68844.9
8                      81379.9             82188.9             82077.1
9                      72190.4             71442.9             70630.8
10                     61377.8             61927.7               63513
11                     63593.3             65139.6               66194
12                      120636              121425              124434
13                     78521.9             79545.6               79374
14                     83416.2             83567.9             83853.7
15                       69368             69444.3             68534.5
16                     74188.7             73911.4             73117.1
17                       72098             71890.3             72877.5
18                     93465.9             93344.5             94346.4
19                      182879              184177              191474
20                     81111.5             81672.8             82123.5
21                     66336.5             66388.8             69035.1
22                       60288               59471             58551.4
23                     80661.7             79990.5               80874
24                     53458.3             54479.8               55804
25                     72501.4             72228.6             72366.6
26                      107325              106875              107708
27                     65763.3             63073.6             64420.5
28                     70306.8             69411.9             69759.2
29                     63938.7             66233.2             66432.9
30                     60871.1             60971.4             61494.2
31                     87124.8               87026             86518.1
32                      132260              133370              133911

Unnamed: 0 1995-06-01 00:00:00 1995-07-01 00:00:00 1995-08-01 00:00:00  \
1                      53700.3             52113.1             52232.2
2                      90107.2             91441.2             92361.3
3                      64252.3             63722.7             64432.6
4                      74310.5               74127               73547
5                      82382.8             82898.5             82054.4
6                       121887              124028              125530
7                      69052.5             69142.5             68993.4
8                      81630.7             82352.2             82706.7
9                      71348.3             71837.5             72237.9
10                     64751.6             65486.3             65076.4
11                     66921.2             68390.8             68096.8
12                      126175              124382              123625
13                     79956.4             80746.3             81217.7
14                     84173.2             84226.7             84430.6
15                     68464.6             68680.8             69023.4
16                       74005             74671.1             74967.9
17                     72331.1             73717.8             74479.9
18                     97428.9             98976.1             98951.2
19                      197266              197963              198037
20                     82205.7             82525.8             83342.8
21                     68881.2             69608.7               68840
22                     58041.4             58126.4             58151.3
23                     80704.9             81055.9             80781.1
24                     56067.8             55458.3             54709.4
25                     72279.4             72880.8             73275.2
26                      112865              114657              112320
27                     64155.8             67024.7             65525.9
28                     70125.2             70789.6             69958.4
29                     66232.2             64692.2             63472.3
30                     61547.8             61933.5             61916.4
31                     88114.3             89830.6             90560.7
32                      134562              133450              136582

Unnamed: 0 1995-09-01 00:00:00  ... 2019-06-01 00:00:00 2019-07-01 00:00:00  \
1                      51471.6  ...              293889              297426
2                      93273.1  ...              512694              514668
3                      64509.5  ...              339324              338346
4                      73789.5  ...              474821              473849
5                      81440.4  ...              430002              434257
6                       120597  ...              871957              890288
7                      69393.5  ...              363420              365875
8                      82011.1  ...              474844              475592
9                      71725.2  ...              390708              388053
10                     63996.8  ...              388252              397828
11                     68752.5  ...              546344              555779
12                      123094  ...              713137              725253
13                     82142.9  ...              540626              550393
14                       83607  ...              447719              446095
15                     68108.2  ...              365336              367679
16                     73843.6  ...              395982              398547
17                     74426.7  ...              399687              397246
18                     99582.6  ...              625315              629281
19                      197048  ...         1.29176e+06         1.27544e+06
20                       85111  ...              484676              502895
21                     70155.8  ...              503721              510045
22                       58743  ...              405009              410983
23                     80824.7  ...              498683              504702
24                     54585.5  ...              359953              359106
25                       73204  ...              408514              414968
26                      110425  ...              652859              657619
27                       63467  ...              494784              499663
28                     69937.4  ...              371680              373534
29                     62177.6  ...              428705              431290
30                     61548.2  ...              421958              418743
31                     91373.7  ...              574833              585174
32                      135993  ...              995108              948507

Unnamed: 0 2019-08-01 00:00:00 2019-09-01 00:00:00 2019-10-01 00:00:00  \
1                       299421              304778              304579
2                       528577              526670              525678
3                       337523              333340              332920
4                       488784              501533              494770
5                       442189              441058              439178
6                       863171              838170              804713
7                       364540              365226              364413
8                       474627              473162              477369
9                       393033              386806              392721
10                      396858              403730              401559
11                      567269              573270              566979
12                      729659              735538              719932
13                      544194              553640              554123
14                      450373              453155              453783
15                      367502              366447              367102
16                      397385              403945              403300
17                      401911              406930              413132
18                      643335              655061              645212
19                 1.24853e+06         1.23018e+06         1.19044e+06
20                      508405              504867              488211
21                      519956              520403              515947
22                      416885              420341              421258
23                      517489              515391              509006
24                      361920              368687              369972
25                      421319              414268              411874
26                      657974              648147              643769
27                      496718              507466              513615
28                      368908              372899              369917
29                      441364              447629              452040
30                      427416              432270              434921
31                      592251              605559              600642
32                      905951              922687              927735

Unnamed: 0 2019-11-01 00:00:00 2019-12-01 00:00:00 2020-01-01 00:00:00  \
1                       306390              301283              304187
2                       522639              519306              520115
3                       333657              336302              334430
4                       432188              427126              424663
5                       436080              438682              435337
6                       825336              807124              816906
7                       367585              369568              371918
8                       475492              469662              467351
9                       393255              400182              390575
10                      405337              398024              396726
11                      559758              552785              560644
12                      719751              728698              742390
13                      559426              565582              561555
14                      450109              446900              447786
15                      365861              365886              361905
16                      407706              404843              407688
17                      410071              409569              410271
18                      630659              648969              671871
19                 1.19405e+06         1.23176e+06         1.24502e+06
20                      490420              487696              489615
21                      519410              521705              527597
22                      415893              413462              409272
23                      501570              500651              503834
24                      363114              360934              368245
25                      413882              424631              423587
26                      650949              655378              665797
27                      510619              505499              500395
28                      374775              372581              372145
29                      450989              456436              464737
30                      435568              437333              442368
31                      601650              605560              606271
32                      955265              960943         1.00128e+06

Unnamed: 0 2020-02-01 00:00:00 2020-03-01 00:00:00
1                       304719              327136
2                       520966              532569
3                       334845              331679
4                       471574              446966
5                       436544              430033
6                       818558              881096
7                       371686              358356
8                       467963              454027
9                       391100              386000
10                      399806              415693
11                      575907              638683
12                      754150              747174
13                      551360              565343
14                      457364              454716
15                      362665              352951
16                      404694              417977
17                      408460              423042
18                      674948              632270
19                 1.30433e+06          1.3961e+06
20                      487604              506000
21                      529832              525487
22                      413063              424233
23                      502533              509252
24                      377365              387326
25                      424049              418473
26                      661396              633481
27                      504045              488610
28                      373843              377458
29                      473410              472662
30                      441461              437153
31                      605237              624858
32                 1.04288e+06         1.08501e+06

[32 rows x 304 columns]

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!