# Predictive Analysis of Robinhood Popularity Data - Data Wrangling

Purpose: In this module, we will analyze the Robinhood Popularity Data provided by RobinTrack, which tracks customer ownership of U.S. stocks on the Robinhood trading platform.

Our goal is to determine if there are any features in the Robinhood data that provides meaningful insights into both historical (ex post) and prospective (ex ante) price returns (ex dividends).

We will focus on a representative basket of 10 actively traded stocks over a two-period from July 1, 2018 to June 30, 2020.

Data Sources: RobinTrack, https://robintrack.net/data-download, Yahoo API

In [1]:
# Importing modules for data wrangling and collection
# yfinance is a library for downloading hstorical market data from Yahoo finance

import numpy as np
import pandas as pd
from datetime import datetime
import yfinance as yf

In [2]:
# Representative basket of 20 actively traded stocks on Robinhood
# Source: Robinhood, https://robinhood.com/collections/100-most-popular

stock_ticker = ['AAPL', 'AMD', 'AMZN', 'BABA', 'FB', 'GOOGL', 'INTC', 'JPM', 'MSFT', 'NFLX',
                'NKE', 'NVDA', 'PYPL', 'SQ', 'SNAP', 'T', 'TSLA', 'TWTR', 'V', 'ZNGA']


stock_name = ['Apple', 'AMD', 'Amazon', 'Alibaba', 'Facebook', 'Google', 'Intel', 'JPMorgan', 'Microsoft', 'Netflix',
              'Nike', 'NVIDIA', 'Paypal', 'Square', 'Snapchat', 'AT&T', 'Tesla', 'Twitter', 'Visa', 'Zynga']

N = len(stock_ticker)

stock_info = dict(zip(stock_ticker,stock_name))
stock_info

{'AAPL': 'Apple',
 'AMD': 'AMD',
 'AMZN': 'Amazon',
 'BABA': 'Alibaba',
 'FB': 'Facebook',
 'GOOGL': 'Google',
 'INTC': 'Intel',
 'JPM': 'JPMorgan',
 'MSFT': 'Microsoft',
 'NFLX': 'Netflix',
 'NKE': 'Nike',
 'NVDA': 'NVIDIA',
 'PYPL': 'Paypal',
 'SQ': 'Square',
 'SNAP': 'Snapchat',
 'T': 'AT&T',
 'TSLA': 'Tesla',
 'TWTR': 'Twitter',
 'V': 'Visa',
 'ZNGA': 'Zynga'}

In [3]:
# The Robinhood Popularity data is stored in separate CSV files for each stock
# We're going to read in each CSV file as a dataframe and store it as a single list

df_list = list()

for ticker in stock_ticker:
    filepath = "../data/raw_export/" + ticker + ".csv"
    df = pd.read_csv(filepath,parse_dates=[0])
    df.name = ticker
    df_list.append(df)

In [4]:
# Let's do a quick preview of the dataframes we've imported

for df in df_list:
    print(df.name)
    print(df.info())

AAPL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19792 entries, 0 to 19791
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19792 non-null  datetime64[ns]
 1   users_holding  19792 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.4 KB
None
AMD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19775 entries, 0 to 19774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19775 non-null  datetime64[ns]
 1   users_holding  19775 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.1 KB
None
AMZN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19756 entries, 0 to 19755
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19756 non-null  datetime64[ns]
 1   users_holding  19756 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 308.8 KB
None
BABA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19807 entries, 0 to 19806
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19807 non-null  datetime64[ns]
 1   users_holding  19807 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.6 KB
None
FB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19785 entries, 0 to 19784
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19785 non-null  datetime64[ns]
 1   users_holding  19785 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.3 KB
None
GOOGL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19818 entries, 0 to 19817
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19818 non-null  datetime64[ns]
 1   users_holding  19818 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.8 KB
None
INTC
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19776 entries, 0 to 19775
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19776 non-null  datetime64[ns]
 1   users_holding  19776 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.1 KB
None
JPM
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19801 entries, 0 to 19800
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19801 non-null  datetime64[ns]
 1   users_holding  19801 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.5 KB
None
MSFT
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19785 entries, 0 to 19784
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19785 non-null  datetime64[ns]
 1   users_holding  19785 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.3 KB
None
NFLX
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19765 entries, 0 to 19764
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19765 non-null  datetime64[ns]
 1   users_holding  19765 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.0 KB
None
NKE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19801 entries, 0 to 19800
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19801 non-null  datetime64[ns]
 1   users_holding  19801 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.5 KB
None
NVDA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19802 entries, 0 to 19801
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19802 non-null  datetime64[ns]
 1   users_holding  19802 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.5 KB
None
PYPL
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19818 entries, 0 to 19817
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19818 non-null  datetime64[ns]
 1   users_holding  19818 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.8 KB
None
SQ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19822 entries, 0 to 19821
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19822 non-null  datetime64[ns]
 1   users_holding  19822 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.8 KB
None
SNAP
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19829 entries, 0 to 19828
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19829 non-null  datetime64[ns]
 1   users_holding  19829 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 310.0 KB
None
T
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19801 entries, 0 to 19800
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19801 non-null  datetime64[ns]
 1   users_holding  19801 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.5 KB
None
TSLA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19800 entries, 0 to 19799
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19800 non-null  datetime64[ns]
 1   users_holding  19800 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.5 KB
None
TWTR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19774 entries, 0 to 19773
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19774 non-null  datetime64[ns]
 1   users_holding  19774 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.1 KB
None
V
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19773 entries, 0 to 19772
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19773 non-null  datetime64[ns]
 1   users_holding  19773 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.1 KB
None
ZNGA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19775 entries, 0 to 19774
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   timestamp      19775 non-null  datetime64[ns]
 1   users_holding  19775 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 309.1 KB
None

In [5]:
# We want to filter just dates during our 2-year period of analysis
# We also just want to keep the last observation for each date

start_date = datetime(2018,7,1)
end_date = datetime(2020,7,1)

for i in range(N):
    
    # Time period filtering
    filter = (df_list[i]['timestamp'] >= start_date) & (df_list[i]['timestamp'] < end_date)
    df_list[i] = df_list[i].loc[filter]
    
    # Keep last observation for each date
    df_list[i] = df_list[i].groupby([df_list[i]['timestamp'].dt.date]).max()
    
    # We can drop the redundant timestamp column
    df_list[i].drop(columns=['timestamp'], inplace=True)
    
    print(stock_ticker[i])
    print(df_list[i])

AAPL
            users_holding
timestamp
2018-07-01         150718
2018-07-02         150897
2018-07-03         151073
2018-07-04         151076
2018-07-05         151258
...                   ...
2020-06-26         484175
2020-06-27         484175
2020-06-28         484144
2020-06-29         486061
2020-06-30         489538

[714 rows x 1 columns]
AMD
            users_holding
timestamp
2018-07-01         125668
2018-07-02         125760
2018-07-03         125792
2018-07-04         125688
2018-07-05         125687
...                   ...
2020-06-26         227203
2020-06-27         227307
2020-06-28         227307
2020-06-29         229581
2020-06-30         229657

[714 rows x 1 columns]
AMZN
            users_holding
timestamp
2018-07-01          78884
2018-07-02          78950
2018-07-03          78903
2018-07-04          78903
2018-07-05          79221
...                   ...
2020-06-26         283515
2020-06-27         283515
2020-06-28         283499
2020-06-29         286784
2020-06-30         291879

[714 rows x 1 columns]
BABA
            users_holding
timestamp
2018-07-01          76567
2018-07-02          76790
2018-07-03          76950
2018-07-04          76950
2018-07-05          77196
...                   ...
2020-06-26         222437
2020-06-27         222437
2020-06-28         222423
2020-06-29         222795
2020-06-30         223530

[714 rows x 1 columns]
FB
            users_holding
timestamp
2018-07-01         104202
2018-07-02         104294
2018-07-03         104629
2018-07-04         104631
2018-07-05         104632
...                   ...
2020-06-26         227796
2020-06-27         227796
2020-06-28         227780
2020-06-29         233654
2020-06-30         235164

[714 rows x 1 columns]
GOOGL
            users_holding
timestamp
2018-07-01          25723
2018-07-02          25749
2018-07-03          25747
2018-07-04          25747
2018-07-05          25799
...                   ...
2020-06-26          84525
2020-06-27          84525
2020-06-28          84521
2020-06-29          85375
2020-06-30          86153

[714 rows x 1 columns]
INTC
            users_holding
timestamp
2018-07-01          42501
2018-07-02          42716
2018-07-03          43022
2018-07-04          43022
2018-07-05          43263
...                   ...
2020-06-26          63018
2020-06-27          62866
2020-06-28          62866
2020-06-29          62866
2020-06-30          62766

[714 rows x 1 columns]
JPM
            users_holding
timestamp
2018-07-01          15133
2018-07-02          15183
2018-07-03          15243
2018-07-04          15243
2018-07-05          15250
...                   ...
2020-06-26          84701
2020-06-27          84712
2020-06-28          84712
2020-06-29          85458
2020-06-30          85691

[714 rows x 1 columns]
MSFT
            users_holding
timestamp
2018-07-01         126912
2018-07-02         127219
2018-07-03         127318
2018-07-04         127318
2018-07-05         127406
...                   ...
2020-06-26         492290
2020-06-27         491739
2020-06-28         491705
2020-06-29         491898
2020-06-30         492023

[714 rows x 1 columns]
NFLX
            users_holding
timestamp
2018-07-01          95200
2018-07-02          95282
2018-07-03          95235
2018-07-04          95235
2018-07-05          95428
...                   ...
2020-06-26         146721
2020-06-27         146721
2020-06-28         146717
2020-06-29         147107
2020-06-30         148922

[714 rows x 1 columns]
NKE
            users_holding
timestamp
2018-07-01          16841
2018-07-02          16922
2018-07-03          16869
2018-07-04          16832
2018-07-05          16854
...                   ...
2020-06-26         103314
2020-06-27         103321
2020-06-28         103321
2020-06-29         103774
2020-06-30         103774

[714 rows x 1 columns]
NVDA
            users_holding
timestamp
2018-07-01          81092
2018-07-02          81235
2018-07-03          81848
2018-07-04          81848
2018-07-05          81992
...                   ...
2020-06-26         120392
2020-06-27         120392
2020-06-28         120385
2020-06-29         121398
2020-06-30         121503

[714 rows x 1 columns]
PYPL
            users_holding
timestamp
2018-07-01          25968
2018-07-02          26001
2018-07-03          25969
2018-07-04          25958
2018-07-05          25958
...                   ...
2020-06-26          62051
2020-06-27          61842
2020-06-28          61829
2020-06-29          62089
2020-06-30          62089

[714 rows x 1 columns]
SQ
            users_holding
timestamp
2018-07-01          59098
2018-07-02          59202
2018-07-03          59320
2018-07-04          59301
2018-07-05          59476
...                   ...
2020-06-26          89856
2020-06-27          89809
2020-06-28          89795
2020-06-29          89934
2020-06-30          89820

[714 rows x 1 columns]
SNAP
            users_holding
timestamp
2018-07-01          86440
2018-07-02          86505
2018-07-03          86560
2018-07-04          86483
2018-07-05          86608
...                   ...
2020-06-26         333172
2020-06-27         332278
2020-06-28         332268
2020-06-29         332278
2020-06-30         330406

[714 rows x 1 columns]
T
            users_holding
timestamp
2018-07-01          47300
2018-07-02          47489
2018-07-03          47501
2018-07-04          47328
2018-07-05          47446
...                   ...
2020-06-26         201202
2020-06-27         201222
2020-06-28         201222
2020-06-29         202648
2020-06-30         203221

[714 rows x 1 columns]
TSLA
            users_holding
timestamp
2018-07-01          77403
2018-07-02          78811
2018-07-03          80178
2018-07-04          80180
2018-07-05          81785
...                   ...
2020-06-26         319386
2020-06-27         319386
2020-06-28         319371
2020-06-29         319998
2020-06-30         317022

[714 rows x 1 columns]
TWTR
            users_holding
timestamp
2018-07-01          99967
2018-07-02          99969
2018-07-03          99794
2018-07-04          99794
2018-07-05          99844
...                   ...
2020-06-26         228639
2020-06-27         228663
2020-06-28         228663
2020-06-29         230532
2020-06-30         231351

[714 rows x 1 columns]
V
            users_holding
timestamp
2018-07-01          23308
2018-07-02          23377
2018-07-03          23500
2018-07-04          23500
2018-07-05          23499
...                   ...
2020-06-26          98106
2020-06-27          97927
2020-06-28          97916
2020-06-29          98027
2020-06-30          98034

[714 rows x 1 columns]
ZNGA
            users_holding
timestamp
2018-07-01          36432
2018-07-02          36540
2018-07-03          36602
2018-07-04          36608
2018-07-05          36621
...                   ...
2020-06-26         211181
2020-06-27         211168
2020-06-28         211154
2020-06-29         211156
2020-06-30         210408

[714 rows x 1 columns]

In [6]:
# Let's pull in the prices and volume for each stock from the Yahoo API
# We want to right join on the stock price because it only includes trading days (exlcudes weekends and holidays)


for i in range(N):
    
    # Pulling pricing data
    price_data = yf.download(stock_ticker[i], start=start_date, end=end_date)
    
    # Closing price is the relevant price to keep, along with volume
    closing_data = price_data[['Close', 'Volume']]
    
    # Right join this data with our Robinhood participation data
    df_list[i] = df_list[i].merge(closing_data, how='right', left_index=True, right_index=True)
    
    # Let's also change the column names to be concise
    df_list[i].columns = ['Robinhood', 'Price', 'Volume']
    
    # let's also add the the ticker and stock names
    df_list[i]['Ticker'] = stock_ticker[i]
    df_list[i]['Company'] = stock_name[i]
    
     
    print(df_list[i])

[*********************100%***********************]  1 of 1 completed
            Robinhood      Price     Volume Ticker Company
Date
2018-07-02   150897.0  46.794998   70925200   AAPL   Apple
2018-07-03   151073.0  45.980000   55819200   AAPL   Apple
2018-07-05   151258.0  46.349998   66416800   AAPL   Apple
2018-07-06   151150.0  46.992500   69940800   AAPL   Apple
2018-07-09   150664.0  47.645000   79026400   AAPL   Apple
...               ...        ...        ...    ...     ...
2020-06-24   481357.0  90.014999  192623200   AAPL   Apple
2020-06-25   483107.0  91.209999  137522400   AAPL   Apple
2020-06-26   484175.0  88.407501  205256800   AAPL   Apple
2020-06-29   486061.0  90.445000  130646000   AAPL   Apple
2020-06-30   489538.0  91.199997  140223200   AAPL   Apple

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02   125760.0  15.160000  43398800    AMD     AMD
2018-07-03   125792.0  15.000000  32094000    AMD     AMD
2018-07-05   125687.0  15.500000  40703300    AMD     AMD
2018-07-06   125522.0  16.360001  65101700    AMD     AMD
2018-07-09   125688.0  16.610001  58525500    AMD     AMD
...               ...        ...       ...    ...     ...
2020-06-24   226347.0  52.389999  53535500    AMD     AMD
2020-06-25   227033.0  51.930000  51129600    AMD     AMD
2020-06-26   227203.0  50.099998  65485700    AMD     AMD
2020-06-29   229581.0  50.279999  49905800    AMD     AMD
2020-06-30   229657.0  52.610001  42275700    AMD     AMD

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood        Price   Volume Ticker Company
Date
2018-07-02    78950.0  1713.780029  3185700   AMZN  Amazon
2018-07-03    78903.0  1693.959961  2177300   AMZN  Amazon
2018-07-05    79221.0  1699.729980  2983100   AMZN  Amazon
2018-07-06    79175.0  1710.630005  2650300   AMZN  Amazon
2018-07-09    78968.0  1739.020020  3012000   AMZN  Amazon
...               ...          ...      ...    ...     ...
2020-06-24   277979.0  2734.399902  4526600   AMZN  Amazon
2020-06-25   280237.0  2754.580078  2968700   AMZN  Amazon
2020-06-26   283515.0  2692.870117  6500800   AMZN  Amazon
2020-06-29   286784.0  2680.379883  4223400   AMZN  Amazon
2020-06-30   291879.0  2758.820068  3769700   AMZN  Amazon

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker  Company
Date
2018-07-02    76790.0  186.360001  17325900   BABA  Alibaba
2018-07-03    76950.0  184.750000  11673700   BABA  Alibaba
2018-07-05    77196.0  186.880005  18412100   BABA  Alibaba
2018-07-06    77151.0  192.270004  17035600   BABA  Alibaba
2018-07-09    77254.0  192.750000  15466400   BABA  Alibaba
...               ...         ...       ...    ...      ...
2020-06-24   222213.0  226.220001  12159500   BABA  Alibaba
2020-06-25   221937.0  222.160004  14953100   BABA  Alibaba
2020-06-26   222437.0  215.710007  19340600   BABA  Alibaba
2020-06-29   222795.0  215.020004  12333000   BABA  Alibaba
2020-06-30   223530.0  215.699997  12933800   BABA  Alibaba

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker   Company
Date
2018-07-02   104294.0  197.360001  13961600     FB  Facebook
2018-07-03   104629.0  192.729996  13489500     FB  Facebook
2018-07-05   104632.0  198.449997  19684200     FB  Facebook
2018-07-06   104302.0  203.229996  19740100     FB  Facebook
2018-07-09   104231.0  204.740005  18149400     FB  Facebook
...               ...         ...       ...    ...       ...
2020-06-24   219681.0  234.020004  20834900     FB  Facebook
2020-06-25   219856.0  235.679993  18704300     FB  Facebook
2020-06-26   227796.0  216.080002  76343900     FB  Facebook
2020-06-29   233654.0  220.639999  58514300     FB  Facebook
2020-06-30   235164.0  227.070007  33927100     FB  Facebook

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood        Price   Volume Ticker Company
Date
2018-07-02    25749.0  1142.109985  1160800  GOOGL  Google
2018-07-03    25747.0  1116.280029   822400  GOOGL  Google
2018-07-05    25799.0  1141.290039  1429700  GOOGL  Google
2018-07-06    25660.0  1155.079956  1091000  GOOGL  Google
2018-07-09    25583.0  1167.280029  1079200  GOOGL  Google
...               ...          ...      ...    ...     ...
2020-06-24    82097.0  1432.699951  1579600  GOOGL  Google
2020-06-25    82457.0  1441.099976  1197900  GOOGL  Google
2020-06-26    84525.0  1362.540039  4882000  GOOGL  Google
2020-06-29    85375.0  1397.170044  2253700  GOOGL  Google
2020-06-30    86153.0  1418.050049  2014300  GOOGL  Google

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02    42716.0  50.200001  23755500   INTC   Intel
2018-07-03    43022.0  49.470001  16327900   INTC   Intel
2018-07-05    43263.0  50.750000  26163500   INTC   Intel
2018-07-06    43359.0  51.369999  19968000   INTC   Intel
2018-07-09    43551.0  51.860001  21361600   INTC   Intel
...               ...        ...       ...    ...     ...
2020-06-24    63140.0  59.090000  27764500   INTC   Intel
2020-06-25    63026.0  58.509998  21906900   INTC   Intel
2020-06-26    63018.0  57.500000  38477500   INTC   Intel
2020-06-29    62866.0  58.270000  22150300   INTC   Intel
2020-06-30    62766.0  59.830002  31542100   INTC   Intel

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker   Company
Date
2018-07-02    15183.0  105.080002  11130000    JPM  JPMorgan
2018-07-03    15243.0  103.610001   8311700    JPM  JPMorgan
2018-07-05    15250.0  103.720001  10723400    JPM  JPMorgan
2018-07-06    15258.0  104.059998  12173700    JPM  JPMorgan
2018-07-09    15259.0  107.279999  13900800    JPM  JPMorgan
...               ...         ...       ...    ...       ...
2020-06-24    83274.0   94.660004  22919800    JPM  JPMorgan
2020-06-25    83498.0   97.959999  25743600    JPM  JPMorgan
2020-06-26    84701.0   92.589996  41896300    JPM  JPMorgan
2020-06-29    85458.0   93.000000  18499700    JPM  JPMorgan
2020-06-30    85691.0   94.059998  19137000    JPM  JPMorgan

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker    Company
Date
2018-07-02   127219.0  100.010002  19564500   MSFT  Microsoft
2018-07-03   127318.0   99.050003  14670300   MSFT  Microsoft
2018-07-05   127406.0   99.760002  18977400   MSFT  Microsoft
2018-07-06   127306.0  101.160004  19234600   MSFT  Microsoft
2018-07-09   126696.0  101.849998  18212000   MSFT  Microsoft
...               ...         ...       ...    ...        ...
2020-06-24   491623.0  197.839996  36740600   MSFT  Microsoft
2020-06-25   492319.0  200.339996  27803900   MSFT  Microsoft
2020-06-26   492290.0  196.330002  54675800   MSFT  Microsoft
2020-06-29   491898.0  198.440002  26701600   MSFT  Microsoft
2020-06-30   492023.0  203.509995  34310300   MSFT  Microsoft

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker  Company
Date
2018-07-02    95282.0  398.179993   8142500   NFLX  Netflix
2018-07-03    95235.0  390.519989   5280300   NFLX  Netflix
2018-07-05    95428.0  398.390015   8448900   NFLX  Netflix
2018-07-06    95170.0  408.250000   8629600   NFLX  Netflix
2018-07-09    94923.0  418.970001  11127500   NFLX  Netflix
...               ...         ...       ...    ...      ...
2020-06-24   145457.0  457.850006   4826200   NFLX  Netflix
2020-06-25   146096.0  465.910004   4134500   NFLX  Netflix
2020-06-26   146721.0  443.399994   6804700   NFLX  Netflix
2020-06-29   147107.0  447.239990   4844000   NFLX  Netflix
2020-06-30   148922.0  455.040009   4198500   NFLX  Netflix

[503 rows x 5 columns]

[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    16922.0   78.349998  11867000    NKE    Nike
2018-07-03    16869.0   76.279999   5794900    NKE    Nike
2018-07-05    16854.0   76.550003   6534500    NKE    Nike
2018-07-06    16877.0   76.480003   5916200    NKE    Nike
2018-07-09    16879.0   77.279999   4871400    NKE    Nike
...               ...         ...       ...    ...     ...
2020-06-24   101671.0  100.080002   8611600    NKE    Nike
2020-06-25   102498.0  101.400002  11531400    NKE    Nike
2020-06-26   103314.0   93.669998  24918500    NKE    Nike
2020-06-29   103774.0   95.870003   9624200    NKE    Nike
2020-06-30   103774.0   98.050003   9065500    NKE    Nike

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    81235.0  242.240005   8939300   NVDA  NVIDIA
2018-07-03    81848.0  236.839996   5568300   NVDA  NVIDIA
2018-07-05    81992.0  242.729996   7655400   NVDA  NVIDIA
2018-07-06    82020.0  247.330002   7408800   NVDA  NVIDIA
2018-07-09    82409.0  249.250000   7597000   NVDA  NVIDIA
...               ...         ...       ...    ...     ...
2020-06-24   118673.0  369.420013  11234300   NVDA  NVIDIA
2020-06-25   119455.0  379.600006   9401800   NVDA  NVIDIA
2020-06-26   120392.0  366.200012  14802100   NVDA  NVIDIA
2020-06-29   121398.0  368.000000   8556200   NVDA  NVIDIA
2020-06-30   121503.0  379.910004   9197300   NVDA  NVIDIA

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price   Volume Ticker Company
Date
2018-07-02    26001.0   83.889999  4929400   PYPL  Paypal
2018-07-03    25969.0   83.269997  3644100   PYPL  Paypal
2018-07-05    25958.0   84.589996  5287700   PYPL  Paypal
2018-07-06    25883.0   85.940002  5095500   PYPL  Paypal
2018-07-09    25880.0   86.230003  5683500   PYPL  Paypal
...               ...         ...      ...    ...     ...
2020-06-24    61934.0  168.000000  8931800   PYPL  Paypal
2020-06-25    62055.0  172.500000  6650700   PYPL  Paypal
2020-06-26    62051.0  170.869995  8158700   PYPL  Paypal
2020-06-29    62089.0  168.350006  5423700   PYPL  Paypal
2020-06-30    62089.0  174.229996  6831900   PYPL  Paypal

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    59202.0   63.139999   5427100     SQ  Square
2018-07-03    59320.0   61.750000   4234700     SQ  Square
2018-07-05    59476.0   64.150002   7671000     SQ  Square
2018-07-06    59545.0   66.440002  10441600     SQ  Square
2018-07-09    59711.0   66.480003   9067800     SQ  Square
...               ...         ...       ...    ...     ...
2020-06-24    89733.0  100.879997  13250400     SQ  Square
2020-06-25    89820.0  104.779999  13569800     SQ  Square
2020-06-26    89856.0  104.300003  19759100     SQ  Square
2020-06-29    89934.0  103.680000   9210800     SQ  Square
2020-06-30    89820.0  104.940002   7605100     SQ  Square

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood      Price    Volume Ticker   Company
Date
2018-07-02    86505.0  13.150000  10283800   SNAP  Snapchat
2018-07-03    86560.0  13.150000   8219500   SNAP  Snapchat
2018-07-05    86608.0  13.210000  14734700   SNAP  Snapchat
2018-07-06    86346.0  13.530000  14925100   SNAP  Snapchat
2018-07-09    87415.0  13.650000  28755400   SNAP  Snapchat
...               ...        ...       ...    ...       ...
2020-06-24   332593.0  23.629999  26026600   SNAP  Snapchat
2020-06-25   332486.0  24.480000  26016500   SNAP  Snapchat
2020-06-26   333172.0  23.070000  34806300   SNAP  Snapchat
2020-06-29   332278.0  23.090000  29191700   SNAP  Snapchat
2020-06-30   330406.0  23.490000  21715000   SNAP  Snapchat

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02    47489.0  32.209999  37766200      T    AT&T
2018-07-03    47501.0  32.709999  33880400      T    AT&T
2018-07-05    47446.0  32.599998  35419400      T    AT&T
2018-07-06    47714.0  32.680000  41194500      T    AT&T
2018-07-09    48155.0  32.150002  43459100      T    AT&T
...               ...        ...       ...    ...     ...
2020-06-24   198314.0  29.420000  65596000      T    AT&T
2020-06-25   199465.0  29.719999  36571300      T    AT&T
2020-06-26   201202.0  29.080000  76576700      T    AT&T
2020-06-29   202648.0  29.910000  37534500      T    AT&T
2020-06-30   203221.0  30.230000  43791400      T    AT&T

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    78811.0   67.014000  93799000   TSLA   Tesla
2018-07-03    80178.0   62.172001  61413000   TSLA   Tesla
2018-07-05    81785.0   61.832001  87382000   TSLA   Tesla
2018-07-06    82743.0   61.779999  44327500   TSLA   Tesla
2018-07-09    83417.0   63.702000  37984000   TSLA   Tesla
...               ...         ...       ...    ...     ...
2020-06-24   316516.0  192.169998  54798000   TSLA   Tesla
2020-06-25   318912.0  197.195999  46272500   TSLA   Tesla
2020-06-26   319386.0  191.947998  44274500   TSLA   Tesla
2020-06-29   319998.0  201.869995  45132000   TSLA   Tesla
2020-06-30   317022.0  215.962006  84592500   TSLA   Tesla

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood      Price     Volume Ticker  Company
Date
2018-07-02    99969.0  44.980000   16703600   TWTR  Twitter
2018-07-03    99794.0  43.889999   14237500   TWTR  Twitter
2018-07-05    99844.0  45.060001   16172000   TWTR  Twitter
2018-07-06    99475.0  46.650002   23740700   TWTR  Twitter
2018-07-09   103867.0  44.139999  107582400   TWTR  Twitter
...               ...        ...        ...    ...      ...
2020-06-24   226223.0  31.730000   16586800   TWTR  Twitter
2020-06-25   226397.0  31.370001   17802600   TWTR  Twitter
2020-06-26   228639.0  29.049999   56913600   TWTR  Twitter
2020-06-29   230532.0  29.490000   27482800   TWTR  Twitter
2020-06-30   231351.0  29.790001   20648000   TWTR  Twitter

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    23377.0  132.500000   7554400      V    Visa
2018-07-03    23500.0  131.449997   3621600      V    Visa
2018-07-05    23499.0  133.289993   4729300      V    Visa
2018-07-06    23501.0  134.089996   4839800      V    Visa
2018-07-09    23514.0  135.520004   8960700      V    Visa
...               ...         ...       ...    ...     ...
2020-06-24    98199.0  191.410004   9453100      V    Visa
2020-06-25    98199.0  193.979996   9936600      V    Visa
2020-06-26    98106.0  189.270004  11836000      V    Visa
2020-06-29    98027.0  191.380005   8020400      V    Visa
2020-06-30    98034.0  193.169998   9040100      V    Visa

[503 rows x 5 columns]
[*********************100%***********************]  1 of 1 completed
            Robinhood  Price    Volume Ticker Company
Date
2018-07-02    36540.0   4.13   5869900   ZNGA   Zynga
2018-07-03    36602.0   4.14   2366000   ZNGA   Zynga
2018-07-05    36621.0   4.13   8375600   ZNGA   Zynga
2018-07-06    36573.0   4.22   3756800   ZNGA   Zynga
2018-07-09    36554.0   4.24   5772100   ZNGA   Zynga
...               ...    ...       ...    ...     ...
2020-06-24   211146.0   9.48  14122000   ZNGA   Zynga
2020-06-25   210807.0   9.61  16802600   ZNGA   Zynga
2020-06-26   211181.0   9.58  30011600   ZNGA   Zynga
2020-06-29   211156.0   9.56  13372200   ZNGA   Zynga
2020-06-30   210408.0   9.54  20895000   ZNGA   Zynga

[503 rows x 5 columns]

In [7]:
# Let's check for missing values

for df in df_list:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 503 entries, 2018-07-02 to 2020-06-30
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Robinhood  491 non-null    float64
 1   Price      503 non-null    float64
 2   Volume     503 non-null    int64
 3   Ticker     503 non-null    object
 4   Company    503 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 43.6+ KB
None

In [8]:
# For the few missing Robinhood shares values, a forward fill makes sense

for i in range(N):
    df_list[i].ffill(axis=0,inplace=True)
    print(df_list[i])

            Robinhood      Price     Volume Ticker Company
Date
2018-07-02   150897.0  46.794998   70925200   AAPL   Apple
2018-07-03   151073.0  45.980000   55819200   AAPL   Apple
2018-07-05   151258.0  46.349998   66416800   AAPL   Apple
2018-07-06   151150.0  46.992500   69940800   AAPL   Apple
2018-07-09   150664.0  47.645000   79026400   AAPL   Apple
...               ...        ...        ...    ...     ...
2020-06-24   481357.0  90.014999  192623200   AAPL   Apple
2020-06-25   483107.0  91.209999  137522400   AAPL   Apple
2020-06-26   484175.0  88.407501  205256800   AAPL   Apple
2020-06-29   486061.0  90.445000  130646000   AAPL   Apple
2020-06-30   489538.0  91.199997  140223200   AAPL   Apple

[503 rows x 5 columns]
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02   125760.0  15.160000  43398800    AMD     AMD
2018-07-03   125792.0  15.000000  32094000    AMD     AMD
2018-07-05   125687.0  15.500000  40703300    AMD     AMD
2018-07-06   125522.0  16.360001  65101700    AMD     AMD
2018-07-09   125688.0  16.610001  58525500    AMD     AMD
...               ...        ...       ...    ...     ...
2020-06-24   226347.0  52.389999  53535500    AMD     AMD
2020-06-25   227033.0  51.930000  51129600    AMD     AMD
2020-06-26   227203.0  50.099998  65485700    AMD     AMD
2020-06-29   229581.0  50.279999  49905800    AMD     AMD
2020-06-30   229657.0  52.610001  42275700    AMD     AMD

[503 rows x 5 columns]
            Robinhood        Price   Volume Ticker Company
Date
2018-07-02    78950.0  1713.780029  3185700   AMZN  Amazon
2018-07-03    78903.0  1693.959961  2177300   AMZN  Amazon
2018-07-05    79221.0  1699.729980  2983100   AMZN  Amazon
2018-07-06    79175.0  1710.630005  2650300   AMZN  Amazon
2018-07-09    78968.0  1739.020020  3012000   AMZN  Amazon
...               ...          ...      ...    ...     ...
2020-06-24   277979.0  2734.399902  4526600   AMZN  Amazon
2020-06-25   280237.0  2754.580078  2968700   AMZN  Amazon
2020-06-26   283515.0  2692.870117  6500800   AMZN  Amazon
2020-06-29   286784.0  2680.379883  4223400   AMZN  Amazon
2020-06-30   291879.0  2758.820068  3769700   AMZN  Amazon

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker  Company
Date
2018-07-02    76790.0  186.360001  17325900   BABA  Alibaba
2018-07-03    76950.0  184.750000  11673700   BABA  Alibaba
2018-07-05    77196.0  186.880005  18412100   BABA  Alibaba
2018-07-06    77151.0  192.270004  17035600   BABA  Alibaba
2018-07-09    77254.0  192.750000  15466400   BABA  Alibaba
...               ...         ...       ...    ...      ...
2020-06-24   222213.0  226.220001  12159500   BABA  Alibaba
2020-06-25   221937.0  222.160004  14953100   BABA  Alibaba
2020-06-26   222437.0  215.710007  19340600   BABA  Alibaba
2020-06-29   222795.0  215.020004  12333000   BABA  Alibaba
2020-06-30   223530.0  215.699997  12933800   BABA  Alibaba

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker   Company
Date
2018-07-02   104294.0  197.360001  13961600     FB  Facebook
2018-07-03   104629.0  192.729996  13489500     FB  Facebook
2018-07-05   104632.0  198.449997  19684200     FB  Facebook
2018-07-06   104302.0  203.229996  19740100     FB  Facebook
2018-07-09   104231.0  204.740005  18149400     FB  Facebook
...               ...         ...       ...    ...       ...
2020-06-24   219681.0  234.020004  20834900     FB  Facebook
2020-06-25   219856.0  235.679993  18704300     FB  Facebook
2020-06-26   227796.0  216.080002  76343900     FB  Facebook
2020-06-29   233654.0  220.639999  58514300     FB  Facebook
2020-06-30   235164.0  227.070007  33927100     FB  Facebook

[503 rows x 5 columns]
            Robinhood        Price   Volume Ticker Company
Date
2018-07-02    25749.0  1142.109985  1160800  GOOGL  Google
2018-07-03    25747.0  1116.280029   822400  GOOGL  Google
2018-07-05    25799.0  1141.290039  1429700  GOOGL  Google
2018-07-06    25660.0  1155.079956  1091000  GOOGL  Google
2018-07-09    25583.0  1167.280029  1079200  GOOGL  Google
...               ...          ...      ...    ...     ...
2020-06-24    82097.0  1432.699951  1579600  GOOGL  Google
2020-06-25    82457.0  1441.099976  1197900  GOOGL  Google
2020-06-26    84525.0  1362.540039  4882000  GOOGL  Google
2020-06-29    85375.0  1397.170044  2253700  GOOGL  Google
2020-06-30    86153.0  1418.050049  2014300  GOOGL  Google

[503 rows x 5 columns]
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02    42716.0  50.200001  23755500   INTC   Intel
2018-07-03    43022.0  49.470001  16327900   INTC   Intel
2018-07-05    43263.0  50.750000  26163500   INTC   Intel
2018-07-06    43359.0  51.369999  19968000   INTC   Intel
2018-07-09    43551.0  51.860001  21361600   INTC   Intel
...               ...        ...       ...    ...     ...
2020-06-24    63140.0  59.090000  27764500   INTC   Intel
2020-06-25    63026.0  58.509998  21906900   INTC   Intel
2020-06-26    63018.0  57.500000  38477500   INTC   Intel
2020-06-29    62866.0  58.270000  22150300   INTC   Intel
2020-06-30    62766.0  59.830002  31542100   INTC   Intel

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker   Company
Date
2018-07-02    15183.0  105.080002  11130000    JPM  JPMorgan
2018-07-03    15243.0  103.610001   8311700    JPM  JPMorgan
2018-07-05    15250.0  103.720001  10723400    JPM  JPMorgan
2018-07-06    15258.0  104.059998  12173700    JPM  JPMorgan
2018-07-09    15259.0  107.279999  13900800    JPM  JPMorgan
...               ...         ...       ...    ...       ...
2020-06-24    83274.0   94.660004  22919800    JPM  JPMorgan
2020-06-25    83498.0   97.959999  25743600    JPM  JPMorgan
2020-06-26    84701.0   92.589996  41896300    JPM  JPMorgan
2020-06-29    85458.0   93.000000  18499700    JPM  JPMorgan
2020-06-30    85691.0   94.059998  19137000    JPM  JPMorgan

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker    Company
Date
2018-07-02   127219.0  100.010002  19564500   MSFT  Microsoft
2018-07-03   127318.0   99.050003  14670300   MSFT  Microsoft
2018-07-05   127406.0   99.760002  18977400   MSFT  Microsoft
2018-07-06   127306.0  101.160004  19234600   MSFT  Microsoft
2018-07-09   126696.0  101.849998  18212000   MSFT  Microsoft
...               ...         ...       ...    ...        ...
2020-06-24   491623.0  197.839996  36740600   MSFT  Microsoft
2020-06-25   492319.0  200.339996  27803900   MSFT  Microsoft
2020-06-26   492290.0  196.330002  54675800   MSFT  Microsoft
2020-06-29   491898.0  198.440002  26701600   MSFT  Microsoft
2020-06-30   492023.0  203.509995  34310300   MSFT  Microsoft

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker  Company
Date
2018-07-02    95282.0  398.179993   8142500   NFLX  Netflix
2018-07-03    95235.0  390.519989   5280300   NFLX  Netflix
2018-07-05    95428.0  398.390015   8448900   NFLX  Netflix
2018-07-06    95170.0  408.250000   8629600   NFLX  Netflix
2018-07-09    94923.0  418.970001  11127500   NFLX  Netflix
...               ...         ...       ...    ...      ...
2020-06-24   145457.0  457.850006   4826200   NFLX  Netflix
2020-06-25   146096.0  465.910004   4134500   NFLX  Netflix
2020-06-26   146721.0  443.399994   6804700   NFLX  Netflix
2020-06-29   147107.0  447.239990   4844000   NFLX  Netflix
2020-06-30   148922.0  455.040009   4198500   NFLX  Netflix

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    16922.0   78.349998  11867000    NKE    Nike
2018-07-03    16869.0   76.279999   5794900    NKE    Nike
2018-07-05    16854.0   76.550003   6534500    NKE    Nike
2018-07-06    16877.0   76.480003   5916200    NKE    Nike
2018-07-09    16879.0   77.279999   4871400    NKE    Nike
...               ...         ...       ...    ...     ...
2020-06-24   101671.0  100.080002   8611600    NKE    Nike
2020-06-25   102498.0  101.400002  11531400    NKE    Nike
2020-06-26   103314.0   93.669998  24918500    NKE    Nike
2020-06-29   103774.0   95.870003   9624200    NKE    Nike
2020-06-30   103774.0   98.050003   9065500    NKE    Nike

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    81235.0  242.240005   8939300   NVDA  NVIDIA
2018-07-03    81848.0  236.839996   5568300   NVDA  NVIDIA
2018-07-05    81992.0  242.729996   7655400   NVDA  NVIDIA
2018-07-06    82020.0  247.330002   7408800   NVDA  NVIDIA
2018-07-09    82409.0  249.250000   7597000   NVDA  NVIDIA
...               ...         ...       ...    ...     ...
2020-06-24   118673.0  369.420013  11234300   NVDA  NVIDIA
2020-06-25   119455.0  379.600006   9401800   NVDA  NVIDIA
2020-06-26   120392.0  366.200012  14802100   NVDA  NVIDIA
2020-06-29   121398.0  368.000000   8556200   NVDA  NVIDIA
2020-06-30   121503.0  379.910004   9197300   NVDA  NVIDIA

[503 rows x 5 columns]
            Robinhood       Price   Volume Ticker Company
Date
2018-07-02    26001.0   83.889999  4929400   PYPL  Paypal
2018-07-03    25969.0   83.269997  3644100   PYPL  Paypal
2018-07-05    25958.0   84.589996  5287700   PYPL  Paypal
2018-07-06    25883.0   85.940002  5095500   PYPL  Paypal
2018-07-09    25880.0   86.230003  5683500   PYPL  Paypal
...               ...         ...      ...    ...     ...
2020-06-24    61934.0  168.000000  8931800   PYPL  Paypal
2020-06-25    62055.0  172.500000  6650700   PYPL  Paypal
2020-06-26    62051.0  170.869995  8158700   PYPL  Paypal
2020-06-29    62089.0  168.350006  5423700   PYPL  Paypal
2020-06-30    62089.0  174.229996  6831900   PYPL  Paypal

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    59202.0   63.139999   5427100     SQ  Square
2018-07-03    59320.0   61.750000   4234700     SQ  Square
2018-07-05    59476.0   64.150002   7671000     SQ  Square
2018-07-06    59545.0   66.440002  10441600     SQ  Square
2018-07-09    59711.0   66.480003   9067800     SQ  Square
...               ...         ...       ...    ...     ...
2020-06-24    89733.0  100.879997  13250400     SQ  Square
2020-06-25    89820.0  104.779999  13569800     SQ  Square
2020-06-26    89856.0  104.300003  19759100     SQ  Square
2020-06-29    89934.0  103.680000   9210800     SQ  Square
2020-06-30    89820.0  104.940002   7605100     SQ  Square

[503 rows x 5 columns]
            Robinhood      Price    Volume Ticker   Company
Date
2018-07-02    86505.0  13.150000  10283800   SNAP  Snapchat
2018-07-03    86560.0  13.150000   8219500   SNAP  Snapchat
2018-07-05    86608.0  13.210000  14734700   SNAP  Snapchat
2018-07-06    86346.0  13.530000  14925100   SNAP  Snapchat
2018-07-09    87415.0  13.650000  28755400   SNAP  Snapchat
...               ...        ...       ...    ...       ...
2020-06-24   332593.0  23.629999  26026600   SNAP  Snapchat
2020-06-25   332486.0  24.480000  26016500   SNAP  Snapchat
2020-06-26   333172.0  23.070000  34806300   SNAP  Snapchat
2020-06-29   332278.0  23.090000  29191700   SNAP  Snapchat
2020-06-30   330406.0  23.490000  21715000   SNAP  Snapchat

[503 rows x 5 columns]
            Robinhood      Price    Volume Ticker Company
Date
2018-07-02    47489.0  32.209999  37766200      T    AT&T
2018-07-03    47501.0  32.709999  33880400      T    AT&T
2018-07-05    47446.0  32.599998  35419400      T    AT&T
2018-07-06    47714.0  32.680000  41194500      T    AT&T
2018-07-09    48155.0  32.150002  43459100      T    AT&T
...               ...        ...       ...    ...     ...
2020-06-24   198314.0  29.420000  65596000      T    AT&T
2020-06-25   199465.0  29.719999  36571300      T    AT&T
2020-06-26   201202.0  29.080000  76576700      T    AT&T
2020-06-29   202648.0  29.910000  37534500      T    AT&T
2020-06-30   203221.0  30.230000  43791400      T    AT&T

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    78811.0   67.014000  93799000   TSLA   Tesla
2018-07-03    80178.0   62.172001  61413000   TSLA   Tesla
2018-07-05    81785.0   61.832001  87382000   TSLA   Tesla
2018-07-06    82743.0   61.779999  44327500   TSLA   Tesla
2018-07-09    83417.0   63.702000  37984000   TSLA   Tesla
...               ...         ...       ...    ...     ...
2020-06-24   316516.0  192.169998  54798000   TSLA   Tesla
2020-06-25   318912.0  197.195999  46272500   TSLA   Tesla
2020-06-26   319386.0  191.947998  44274500   TSLA   Tesla
2020-06-29   319998.0  201.869995  45132000   TSLA   Tesla
2020-06-30   317022.0  215.962006  84592500   TSLA   Tesla

[503 rows x 5 columns]
            Robinhood      Price     Volume Ticker  Company
Date
2018-07-02    99969.0  44.980000   16703600   TWTR  Twitter
2018-07-03    99794.0  43.889999   14237500   TWTR  Twitter
2018-07-05    99844.0  45.060001   16172000   TWTR  Twitter
2018-07-06    99475.0  46.650002   23740700   TWTR  Twitter
2018-07-09   103867.0  44.139999  107582400   TWTR  Twitter
...               ...        ...        ...    ...      ...
2020-06-24   226223.0  31.730000   16586800   TWTR  Twitter
2020-06-25   226397.0  31.370001   17802600   TWTR  Twitter
2020-06-26   228639.0  29.049999   56913600   TWTR  Twitter
2020-06-29   230532.0  29.490000   27482800   TWTR  Twitter
2020-06-30   231351.0  29.790001   20648000   TWTR  Twitter

[503 rows x 5 columns]
            Robinhood       Price    Volume Ticker Company
Date
2018-07-02    23377.0  132.500000   7554400      V    Visa
2018-07-03    23500.0  131.449997   3621600      V    Visa
2018-07-05    23499.0  133.289993   4729300      V    Visa
2018-07-06    23501.0  134.089996   4839800      V    Visa
2018-07-09    23514.0  135.520004   8960700      V    Visa
...               ...         ...       ...    ...     ...
2020-06-24    98199.0  191.410004   9453100      V    Visa
2020-06-25    98199.0  193.979996   9936600      V    Visa
2020-06-26    98106.0  189.270004  11836000      V    Visa
2020-06-29    98027.0  191.380005   8020400      V    Visa
2020-06-30    98034.0  193.169998   9040100      V    Visa

[503 rows x 5 columns]
            Robinhood  Price    Volume Ticker Company
Date
2018-07-02    36540.0   4.13   5869900   ZNGA   Zynga
2018-07-03    36602.0   4.14   2366000   ZNGA   Zynga
2018-07-05    36621.0   4.13   8375600   ZNGA   Zynga
2018-07-06    36573.0   4.22   3756800   ZNGA   Zynga
2018-07-09    36554.0   4.24   5772100   ZNGA   Zynga
...               ...    ...       ...    ...     ...
2020-06-24   211146.0   9.48  14122000   ZNGA   Zynga
2020-06-25   210807.0   9.61  16802600   ZNGA   Zynga
2020-06-26   211181.0   9.58  30011600   ZNGA   Zynga
2020-06-29   211156.0   9.56  13372200   ZNGA   Zynga
2020-06-30   210408.0   9.54  20895000   ZNGA   Zynga

[503 rows x 5 columns]

In [9]:
# Let's check for duplicates rows

for df in df_list:
    print(df[df.duplicated()])

Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []
Empty DataFrame
Columns: [Robinhood, Price, Volume, Ticker, Company]
Index: []

In [10]:
# We're going to merge all the dataframes into one dataframe

df_export = df_list[0]

for i in range(1,N):
    df_export = df_export.append(df_list[i])

print(df_export.shape)
df_export.sample(10)

(10060, 5)

            Robinhood        Price     Volume Ticker  Company
Date
2020-02-27    41002.0   107.839996   15461900   PYPL   Paypal
2019-01-29   112653.0   328.899994    7655200   NFLX  Netflix
2018-09-27   169148.0    32.590000   87934400    AMD      AMD
2019-09-05   104787.0   293.250000    8966800   NFLX  Netflix
2020-01-14    29839.0  1430.589966    1303800  GOOGL   Google
2018-10-24   109319.0    57.700001  100291500   TSLA    Tesla
2019-11-12    29572.0  1297.209961    1442600  GOOGL   Google
2020-06-30   489538.0    91.199997  140223200   AAPL    Apple
2019-06-04   109851.0     6.350000   13559800   ZNGA    Zynga
2019-05-28    51039.0    43.570000   34779900   INTC    Intel

In [11]:
# Finally, let's export the final dataset to a single CSV file
filepath = "../data/stock_data.csv"
df_export.to_csv(filepath)
    
# Let's also export a csv of the stock basket

filepath = "../data/stock_info.csv"
stock_df = pd.DataFrame.from_dict(stock_info, orient='index')
stock_df.index.rename('Ticker',inplace=True)
stock_df.rename(columns={0: 'Company'}, inplace=True)
stock_df.to_csv(filepath)